*{
	margin: 0;
	padding: 0;
}
body{
	font-family: tahoma;
}
h1{
	text-align: center;
	margin-top: 40px;
}
#container{
	width: 80%;
	margin:15px auto 0px auto;
	padding:20px;
	text-align:center;
    background-color:aqua;
	border-radius: 10px;
}
.container-title{
	text-align: center;
	margin: 10px 0px auto 0;
	font-size: 40px;
	color:blueviolet;
}
input{
	width:170px;
	height: 25px;
	text-align: center;
	border: 2px solid black;
	margin:10px;
	font-size:20px;
	border-radius:5px;
}
#input{
	margin: 10px;
}
#inputType,#resultType{
	width: 175px;
	height:35px;
	margin: 10px;
	color: black;
	border: 2px solid black;
	font-size:15px;
	font-weight:bold;
	background-color:white;
	border-radius:5px;
}

span{
	color:white;
	font-size:15px;
}